
{% extends 'base.html' %}

{% block title %}
    管理员页面
{% endblock %}

{% block content %}
    <p>当前注册的账号</p>
    <table>
        <thead>
            <th>id</th>
            <th>username</th>
            <th>create time</th>
        </thead>
        <tbody>
            {% for u in page %}
                <tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.username }}</td>
                    <td>{{ u.create_time|date:'Y-m-d H:i:s' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>{{ page.number }}</p>
    <p>
        {% for i in page.paginator.page_range %}
            <a href="{% url 'users:users' %}?page={{ i }}">{{ i }} </a>
        {% endfor %}
    </p>
    <p>
        {% if page.has_previous %}
            <a href="{% url 'users:users' %}?page={{ page.previous_page_number }}">上一页</a>
        {% endif %}
        {% if page.has_next %}
            <a href="{% url 'users:users' %}?page={{ page.next_page_number }}">下一页</a>
        {% endif %}
    </p>
{% endblock %}
